#container{
  
} 
body{
    /* overflow: hidden; */
}
.circle{
    height: 200px;
    width: 200px;
    background-color:rgb(207, 56, 26) ;
    border-radius:50% ;
    display: inline-block;
    margin: 1.5%;
    text-align:center;

}
.square{
    height: 200px;
    width: 200px;   
    background-color: rgb(8, 128, 8);
    display: inline-block;
    margin: 1.5%;
    text-align:center;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right:100px solid transparent;
    border-bottom:200px solid rgb(20, 50, 198);
    display: inline-block;
    margin: 1.5%;
    text-align:center;
}