
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    position: relative;
    /* overflow: hidden; */
  }
   
  .square {
    width: 100px;
    height: 100px;
    background-color: #161717;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  /* @media (max-width: 768px) {
    .square {
      width: 80px;
      height: 80px;
    }
  }
   
  @media (max-width: 480px) {
    .square {
      width: 60px;
      height: 60px;
    }
  } */
  

   
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* transform: translate(-50%, -50%); */
    
    /* animation-name:colorRotate;
    animation-timing-function:linear;
    animation-duration: 2s; */
  /* } */

  /* @keyframes colorRotate{
        0%{background-color: black; left:0px; top:0px;transform: rotate(360deg);  }
        25%{background-color: rgb(72, 40, 88); left:100px; top:100px;transform: }
        50%{background-color: rgb(194, 51, 51); left:0px; top:100px; }
        100%{background-color: rgb(35, 171, 46); left:0px; top:0px; }
  } */
  